<%= form_tag url: '/products' do |form| %>
 

  <div class="field">
    <%= label_tag "Title" %>
    <%= text_field_tag "product[title]" %>
  </div>
  <br>

  <div class="field">
    <%= label_tag "Description" %>
    <%= text_field_tag "product[description]" %>
  </div>
  <br>

  <div class="field">
    <%= label_tag "image_url" %>
    <%= text_field_tag "product[image_url]" %>
  </div>
  <br>

  <div class="field">
    <%= label_tag "price" %>
    <%= text_field_tag "product[price]" %>
  </div>
  <br>



  <div class="actions">
    <%= submit_tag "create product" %>
  </div>

<% end %>
